<div class="list-group" ng-controller="StoreController as store">
    <!--  Product Container  -->
    <div class="list-group-item material-design" ng-repeat="product in products">
        <div>
            <h4>{{product.name}} ({{ product.level }})
            <a ng-href="{{ product.url }}" class="pull-right start-test">Start Test</a>
            <a ng-href="{{ product.url }}" class="pull-right start-course">Start Course</a>
            </h4> 
        </div>

        <!-- Product Tabs  -->
        <section ng-controller="TabController as tab">
            <ul class="nav nav-pills">
                <li ng-class="{ active:tab.isSet(1) }">
                    <a href ng-click="tab.setTab(1)">Description</a>
                </li>
                <li ng-class="{ active:tab.isSet(2) }">
                    <a href ng-click="tab.setTab(2)">Content</a>
                </li>
                <li ng-class="{ active:tab.isSet(3) }">
                    <a href ng-click="tab.setTab(3)">Reviews</a>
                </li>
            </ul>

            <!--  Description Tab's Content  -->
            <div ng-show="tab.isSet(1)">
                <div class="learn-div">
                    {{product.description}}
                </div>
            </div>

            <!--  Spec Tab's Content  -->
            <div ng-show="tab.isSet(2)">
                <div class="learn-div">
                    {{product.topics}}
                </div>

            </div>

            <!--  Review Tab's Content  -->
            <div ng-show="tab.isSet(3)">
                <!--  Product Reviews List -->
                <div class="learn-div">
                    <ul>
                        <li ng-repeat="review in product.reviews">
                            <blockquote>
                                {{review.body}}
                                <strong class="pull-right">{{review.stars}} Stars</strong>
                                <cite class="clearfix">—{{review.author}}</cite>
                            </blockquote>
                        </li>
                    </ul>
                </div>
                
                <!--  Review Form -->
                <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">

                    <!--  Live Preview -->
                    <blockquote>
                        {{reviewCtrl.review.body}}
                        <strong class="pull-right">{{reviewCtrl.review.stars}} Stars</strong>
                        <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                    </blockquote>

                    <!--  Review Form -->
                    <h6>Submit a Review</h6>
                    <fieldset class="form-group">
                        <select ng-model="reviewCtrl.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                            <option value>Rate the Product</option>
                        </select>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea ng-model="reviewCtrl.review.body" class="form-control" placeholder="Write a short review of the product..." title="Review"></textarea>
                    </fieldset>
                    <fieldset class="form-group">
                        <input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" />
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                    </fieldset>
                </form>
            </div>

        </section>
    </div>

</div>